

# ignore instance folder and its contents
instance/

# ignore virtual environment folder
.venv/

# ignore ideas.txt file
ideas.txt

# ignore migrations folder
migrations/

# ignore __pycache__ folders and .pyc files
__pycache__/
*.pyc
